/* Write your code here. */
#root {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  text-align: center;
}
.card {
  background-color: #cffafe;
  padding: 15px;
  text-align: center;
}
.profile-name {
  color: #1e293b;
}
